@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-[#f7f7f8]
}

html,
body {
	@apply h-full;
}

body {
	@apply bg-white;
}

body {
	@apply font-sans;
	font-family: 'Roboto', sans-serif;
}

body {
  @apply h-screen bg-[#f7f7f8];
}

.chatbot-container {
	@apply bg-[#f7f7f8] h-full min-h-screen w-full;
}

.chat-message {
	@apply bg-transparent border-none p-0 mb-2;
}

.chat-message-text {
	@apply text-left bg-gray-100;
	white-space: pre-line;
}

.chat-message-text.user {
  @apply text-left bg-gray-100;
  white-space: pre-line;
}

.chat-message-text.assistant {
  @apply text-left bg-gray-200;
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f8;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}
